# misc
**/.DS_Store
**/*.pem
**/keys

# logs
**/*.log
**/npm-debug.log*
**/lerna-debug.log*

# yarn
**/yarn-debug.log*
**/yarn-error.log*
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dotenv environment variable files
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local
**/.dockerhub.env
**/.ghcr.env

# Next.js build output
packages/app/.next
packages/app/.pnp
packages/app/.pnp.js
packages/app/.vercel
packages/app/coverage
packages/app/out
packages/app/tmp
packages/app/next-env.d.ts

# optional npm cache directory
**/.npm

# dependency directories
**/node_modules

# build output
**/dist
**/build
**/tsconfig.tsbuildinfo

# jest coverage report
**/coverage

# e2e
e2e/cypress/screenshots/
e2e/cypress/videos/
e2e/cypress/results

# playwright
**/test-results/
**/playwright-report/
**/playwright/.cache/
**/.auth/

# storybook
**/storybook-static/

# scripts
scripts/*.csv
**/venv
**/__pycache__/
*.py[cod]
*$py.class

# docker
docker-compose.prod.yml
.volumes

# NX
.nx/

# webstorm
.idea
