.root {
  position: relative;
  flex-grow: 1;
}

.inputWrapper {
  position: relative;
  flex: 1;
  min-width: 0;
}

.languageSwitch {
  position: absolute;
  top: 0;
  right: 8px;
  pointer-events: auto;
  align-items: center;

  &.sizeXs {
    height: 30px;
  }

  &.sizeSm {
    height: 36px;
  }
}
