.sliderThumb {
  background-color: var(--color-slider-thumb);
  border-color: var(--color-slider-thumb-border);
}

.sliderMark {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  transform: translateX(1px) translateY(1px);
  border-color: var(--color-slider-dot);
  background-color: var(--color-slider-dot);

  &[data-filled] {
    border-color: var(--color-slider-dot-active);
    background-color: var(--color-slider-dot-active);
  }
}
