.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0 4px;
  font-size: 12px;
}

.withTabulate {
  .key {
    min-width: 150px;
  }
}

.withLineWrap {
  .valueContainer {
    .string {
      white-space: pre;
    }
  }
}

.treeNode {
  margin-left: 10px;
}

.line {
  display: flex;
  gap: 10px;
  padding: 2px 8px;

  // margin: 0 -10px;margin
  align-items: flex-start;
  border-radius: 3px;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: #26282b;

    .lineMenu {
      display: flex;
    }
  }

  &.expanded {
    .object,
    .array {
      color: #999;
    }
  }

  &.expandable {
    cursor: pointer;

    .key {
      margin-left: -10px;
    }

    .valueContainer {
      margin-left: 10px;
      word-break: break-all;
    }

    &:active {
      background-color: #1e1f21;
    }
  }
}

.lineMenu {
  display: none;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: calc(100% + 1px);
  max-height: 24px;
  border-bottom: 1px solid #34373e;
}

.lineMenuBtn {
  border: 0;
  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
  color: #b8b7c9;
  border-left: 1px solid #444;
  padding: 0 8px;
  height: 100%;

  &:hover {
    background-color: #34373e;
  }

  &:active {
    background-color: #1e1f21;
  }
}

.nestedLine {
  // margin-bottom: 8px;margin-bottom
}

.clickable {
  &:active {
    background-color: #1e1f21;
  }
}

.hoverable {
  position: relative;
  cursor: pointer;
  padding: 0 4px;
  margin: 0 -4px;
  border-radius: 2px;
  display: flex;
  gap: 6px;

  &:hover,
  &:focus {
    background-color: #26282b;

    .hoverContent {
      display: flex;
    }
  }

  .hoverContent {
    position: absolute;
    left: 100%;
    background-color: #26282b;
    padding-right: 8px;
    padding-left: 4px;
  }
}

.hoverContent {
  display: none;
}

.jsonBtn {
  display: block;
  color: #b8b7c9;
  cursor: pointer;
  background-color: #26282b;
  font-size: 11px;
  border: 1px solid #444;
  border-radius: 3px;
  padding: 0 6px;
  margin-bottom: 2px;

  &:hover {
    background-color: #444;
  }

  &:active {
    background-color: #1e1f21;
  }
}

.keyContainer {
  // min-width: 160px;min-width
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.key {
  align-items: center;
  width: auto;
  color: #8378ff;
  cursor: pointer;
  display: flex;
  gap: 6px;

  // @extend .hoverable;
  // @extend .clickable;

  i {
    color: #555;
    margin-right: -4px;
  }
}

.valueContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 3px;
  max-width: 100%;
}

.value {
  max-width: 100%;
  white-space: pre-wrap;
  word-wrap: anywhere;
  overflow-wrap: anywhere;
  overflow: hidden;

  @extend .hoverable;
  @extend .clickable;
}

.string {
  color: #a6e22e;
  word-break: break-all;

  // margin-left: -6px;margin-left
  &::before,
  &::after {
    content: '"';
    color: #888;
  }
}

.number {
  color: #f90;
}

.boolean {
  color: #f90;
}

.object {
  color: #a6e22e;
  font-size: 11px;
}

.array {
  color: #a6e22e;
  font-size: 11px;
}

.expandMoreProps {
  color: #f90;
  font-weight: 500;

  i {
    margin-left: 4px;
  }
}
