.header {
  align-items: center;
  background-color: var(--color-bg-body);
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-default);
  display: flex;
  font-weight: 500;
  height: 60px;
  justify-content: space-between;
  line-height: 1;
  padding: 0 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}
