@import '../../styles/variables';

.header {
  align-items: center;
  background-color: $body-bg;
  border-bottom: 1px solid var(--mantine-color-dark-9);
  color: var(--mantine-color-dark-2);
  display: flex;
  font-weight: 500;
  height: 60px;
  justify-content: space-between;
  line-height: 1;
  padding: 0 32px;
  position: sticky;
  top: 0;
  z-index: 100;
}
