.tagWrapper {
  padding: 2px 16px;
  margin: -2px 0;

  button {
    visibility: hidden;
  }

  input {
    width: 100%;
  }

  &:hover {
    background-color: #fff1;

    button {
      visibility: visible;
    }
  }
}