.timelineRow {
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-highlighted);
  }
}

.timelineRowActive {
  background-color: var(--color-bg-highlighted);
  border-radius: var(--mantine-radius-xs);
}

.labelContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
  position: relative;
}

.barDetail {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  pointer-events: none;
}

.barDetailBody {
  display: none;
  color: var(--color-text-muted);
}

.timelineRow:hover .barDetailBody,
.timelineRowActive .barDetailBody {
  display: inline;
}
