@import './variables';

.sectionHeader {
  border-bottom: 1px solid var(--mantine-color-dark-9);
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
  color: var(--mantine-color-dark-4);
}

.historyCardWrapper {
  display: flex;
  flex-direction: row;

  &:hover {
    .historyCard {
      opacity: 0.3;
    }
  }
}

.historyCard {
  width: 4px;
  height: 16px;
  background-color: var(--mantine-color-dark-9);
  border-radius: 2px;
  margin: 0 1px;
  cursor: pointer;
  transition: opacity 0.1s ease-in;

  &:hover {
    transition: none;
    opacity: 1 !important;
  }

  &.ok {
    background-color: #00d474;
  }

  &.alarm {
    background-color: #e74c3c;
  }
}

.alertRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0;
  border-bottom: 1px solid var(--mantine-color-dark-9);
}

.alertLink {
  font-weight: 500;
  color: var(--mantine-color-dark-2);
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}
