@import './variables';

.wrapper {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-right: 1px solid var(--mantine-color-dark-9);
}

.list {
  // background-color: #00000030;background-color
  // border-bottom: 1px solid var(--mantine-color-dark-9);border-bottom
  border-top: 1px solid var(--mantine-color-dark-9);
  overflow-x: hidden;
  max-width: 100%;
  padding: 4px 16px;
  padding-bottom: 0;
}

.scrollbar {
  .thumb {
    background-color: var(--mantine-color-gray-9);
  }
}

.listGroupDragEnter {
  opacity: 0.7;
  background: #ffffff1a;
  border-radius: 10px;
}

.listGroupName {
  color: var(--mantine-color-dark-4);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  padding-left: 16px;
  width: 100%;
  display: flex;
  align-items: center;

  // justify-content: space-between;justify-content
  gap: 6px;

  &:hover {
    color: var(--mantine-color-dark-3);
    cursor: pointer;
  }
}

.listLink {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--mantine-color-dark-2);
  font-size: 13px;
  margin-bottom: 4px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 16px;
  user-select: none;
  gap: 10px;

  &:hover {
    color: var(--mantine-color-dark-1);
  }

  &:focus-visible {
    outline: none;
    border-left: 2px solid $green;
  }

  &:last-of-type {
    margin-bottom: 12px;
  }
}

.listEmptyMsg {
  color: var(--mantine-color-dark-4);
  font-size: 12px;
  margin: 8px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listLinkActive {
  // color: $green;color
  color: var(--mantine-color-green-3);
  font-weight: 500;

  &:hover {
    // color: $green;color
    color: var(--mantine-color-green-3);
  }
}

.kbd {
  white-space: nowrap;
  letter-spacing: -1px;
  color: var(--mantine-color-dark-4);
  background: var(--mantine-color-dark-9);
  border-radius: 4px;
  padding: 0 4px;
  font-size: 10px;
  margin-right: 16px;
}

.searchInput {
  input {
    min-height: 28px;
    height: 28px;
    line-height: 28px;
  }
}

.appNavMenu {
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 5px 10px 10px #0f1215e0;
  background: var(--mantine-color-gray-9);

  &:hover {
    background: var(--mantine-color-gray-8);
  }

  &:active {
    // background: var(--mantine-color-gray-9);background
    transform: translate(0, 1px);
  }
}
