/* stylelint-disable */
@import './variables';

.wrapper {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-right: 1px solid var(--color-border);
  background: var(--color-bg-sidebar);
}

.list {
  border-top: 1px solid var(--color-border);
  overflow-x: hidden;
  max-width: 100%;
  padding: 4px 16px;
  padding-bottom: 0;
}

.scrollbar {
  .thumb {
    background-color: var(--color-border);
  }
}

.listGroupDragEnter {
  opacity: 0.7;
  background: #ffffff1a;
  border-radius: 10px;
}

.listGroupName {
  color: var(--color-text-muted);
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  padding-left: 16px;
  width: 100%;
  display: flex;
  align-items: center;

  // justify-content: space-between;
  gap: 6px;

  &:hover {
    color: var(--color-text);
    cursor: pointer;
  }
}

.listLink {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-text-muted);
  font-size: 13px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  gap: 10px;

  &:hover {
    color: var(--color-text);
  }

  &:focus-visible {
    outline: none;
    background: var(--color-bg-muted);
  }
}

.linkIcon {
  margin-right: 8px;
  display: inline-flex;
  vertical-align: middle;
  transition: all 0.2s ease-in-out  ;

   &:hover {
    // color: $green;
    color: var(--color-text-success);
  }
}

.listEmptyMsg {
  color: var(--color-text-muted);
  font-size: 12px;
  margin: 8px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listLinkActive {
  // color: $green;
  color: var(--color-text-success);
  font-weight: 500;

 
}

.kbd {
  white-space: nowrap;
  letter-spacing: -1px;
  color: var(--color-text-muted);
  background: var(--color-bg-surface);
  border-radius: 4px;
  padding: 0 4px;
  font-size: 10px;
  margin-right: 16px;
}

.searchInput {
  input {
    min-height: 28px;
    height: 28px;
    line-height: 28px;
  }
}

.appNavMenu {
  pointer-events: all;
  cursor: pointer;

  &:hover {
    background: var(--color-bg-muted);
  }

  &:active {
    transform: translate(0, 1px);
  }
}
