html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-layout {
  height: 100vh;
}

.app-layout-with-banner {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
