/* stylelint-disable */
.legend {
  display: flex;
  flex-wrap: wrap;
}

.legendItem {
  font-size: 11px;
  margin-right: 8px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  text-wrap: wrap;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 1.2;

  &:active {
    opacity: 0.5;
  }
}

.legendMoreLink {
  color: var(--mantine-color-dark-4);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-dark-7);
}

.legendTooltipContent {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  max-width: 40vw;
  overflow: hidden;
  gap: 2px;
}

.chartTooltip {
  backdrop-filter: blur(8px);
  background-color: rgba(#1a1d23, 0.75);
  border: 1px solid #5f6776;
  border-radius: 2px;
  font-size: 11px;
}

.chartTooltipHeader {
  padding: 2px 12px;
  color: var(--mantine-color-dark-2);
  border-bottom: 1px solid var(--mantine-color-dark-4);
}

.chartTooltipContent {
  padding: 6px 12px;
}
