/* stylelint-disable */

// TODO: Use variables for spacings;
$padding-x: 24px;

.panel {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 100%;
  background: var(--color-bg-body);
  box-shadow: 0 0 100px 40px rgb(0 0 0 / 70%);
  border-left: 1px solid var(--color-border);
}

.panelDragBar {
  position: absolute;
  width: 3px;
  height: 100%;
  cursor: col-resize;
  background-color: transparent;

  &:hover {
    background-color: var(--color-border);
    transition: background-color 0.2s ease-in-out;
  }
}

.panelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 12px $padding-x;
}

.panelDetails {
  padding: $padding-x;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.panelContent {
  padding: 0 $padding-x;
}

.severityChip {
  background: var(--color-bg-surface);
  padding: 4px 12px;
  border-radius: 16px;
  margin-right: 8px;
}

.loadingState {
  color: var(--color-text-muted);
  width: 100%;
  margin: $padding-x;
  font-size: 16px;
  text-align: center;
  flex-grow: 1;
}

.panelSectionWrapper {
  background-color: var(--color-bg-surface);
  margin: 12px 0;
  border-radius: 6px;
}

.panelSectionWrapperTitle {
  padding: 18px 24px;
  border-bottom: 1px solid var(--color-border);
}

.kbdShortcuts {
  background: var(--color-bg-surface);
  border-top: 1px solid var(--color-border);
  padding: 12px $padding-x;
  color: var(--color-text-secondary);
  font-size: 11px;
}

.kbd {
  display: inline-block;
  background: var(--color-bg-surface);
  letter-spacing: 0.5px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 1px 6px;
  margin: 0 2px;
}

.kbdDivider {
  height: 21px;
  width: 1px;
  background: var(--color-bg-muted);
}

.lineContext {
  color: var(--color-text-secondary);
  background-color: var(--color-bg-hover);
  padding: 8px 0;
  border-radius: 4px;
  margin-top: 8px;
}

.lineContextCurrentLine {
  background-color: var(--color-bg-muted);
  color: var(--color-text);
  font-weight: 600;

  .lineContextLineNo {
    color: var(--color-text);
    border-right-color: var(--color-border);
  }
}

.lineContextLineNo {
  display: inline-block;
  width: 60px;
  text-align: right;
  border-right: 1px solid var(--color-border);
  padding-right: 12px;
  margin-right: 12px;
}

.emptyMessage {
  color: var(--color-text-muted);
  text-align: center;
  padding: 10px;
}

.traceTimelineLabel {
  opacity: 0.8;
  font-size: 11px;
  padding-right: 8px;
  letter-spacing: -0.3px;

  &:hover {
    opacity: 1;
  }
}

.traceTimelineLabelHighlighted {
  opacity: 1;
  font-weight: bold;
}

.stacktraceRowInteractive {
  cursor: pointer;

  &:hover {
    background-color: var(--color-bg-hover);
  }

  &:active {
    background-color: var(--color-bg-muted);
  }
}
