@import './variables';

$button-height: 24px;

.table {
  table-layout: fixed;
  border-spacing: 0 2px;
  border-collapse: separate;
}

.tableHead {
  background: inherit;
  position: sticky;
  top: 0;
}

.tableRow {
  position: relative;

  &__selected {
    background-color: var(--mantine-color-dark-5);
    font-weight: bold;
  }

  &:hover .rowButtons {
    opacity: 1;
  }

  &:hover .rowContentButton {
    background-color: var(--mantine-color-dark-5);
  }
}

.expandedRowContent {
  max-height: 400px;
  overflow: auto;
  background-color: $slate-950;
  padding: 12px;
}

.expandButton {
  background: transparent;
  border: none;
  padding: 0 2px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-in-out;
  border-radius: 4px;
  height: $button-height;

  &:hover {
    background-color: var(--mantine-color-dark-5);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--mantine-color-dark-5);
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
    background-color: var(--mantine-color-dark-5);
  }

  svg {
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
  }

  &.expanded svg {
    transform: rotate(90deg);
  }
}

.expandButtonSeparator {
  width: 1px;
  height: calc($button-height - 8px);
  border-right: 1px solid var(--mantine-color-dark-4);
  margin-left: 2px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: middle;
}

.rowContentButton {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
  text-align: left;
  color: inherit;
  transition: background-color 0.15s ease-in-out;
  border-radius: 4px;
  height: $button-height;
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--mantine-color-dark-5);
  }

  &:focus,
  &:focus-visible {
    background-color: var(--mantine-color-dark-5);
    outline: none;
  }

  &:active {
    outline: none;
    box-shadow: none;
    background-color: var(--mantine-color-dark-5);
  }
}

.rowButtons {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  display: flex;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.copyButton {
  padding: 4px;
  border-radius: 4px;
  background-color: var(--mantine-color-dark-4);
  border: 1px solid var(--mantine-color-dark-3);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.copied {
    color: var(--mantine-color-green-6);
  }
}
