@import './variables';

.tableHead {
  background: inherit;
  position: sticky;
  top: 0;
}

.tableRow {
  &:hover {
    background-color: $slate-800;
  }
  &__selected {
    background-color: $slate-800;
    font-weight: bold;
  }
}
