.resizeHandle {
  position: absolute;
  right: -3px;
  top: 0;
  bottom: 0;
  width: 6px;
  cursor: col-resize;
  transition: all 150ms ease;
  z-index: 10;

  &:hover,
  &:active {
    background-color: var(--color-bg-neutral);
  }

  &:active {
    background-color: var(--color-bg-neutral);
    width: 8px;
    margin-right: -1px;
  }
}

.resizeYHandle {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 6px;
  cursor: row-resize;
  transition: all 150ms ease;
  z-index: 10;

  &:hover,
  &:active {
    background-color: var(--color-bg-neutral);
  }

  &:active {
    background-color: var(--color-bg-neutral);
    height: 8px;
    margin-bottom: -1px;
  }
}
