@import './variables';

.filtersPanel {
  width: 200px;
  background-color: #00000030;
  flex-shrink: 0;
  padding: 12px;
}

.textButton {
  user-select: none;
  &:hover {
    cursor: pointer;
    color: $slate-300 !important;
  }
  &:active {
    color: $slate-500 !important;
  }
}

.filterCheckbox {
  width: 100%;
  display: flex;
  padding: 2px 6px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;

  input {
    opacity: 0.8;
  }

  .textButton {
    display: none;
  }

  &:hover {
    input {
      opacity: 1;
    }
    background-color: $slate-950;
    .textButton {
      display: block;
    }
  }
}
