@import './variables';

/* stylelint-disable selector-pseudo-class-no-unknown */
.filtersPanel {
  position: relative;
  min-width: 200px;
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #00000030;
  word-break: break-all;
  flex-shrink: 0;
  flex-grow: 0;
  border-right: 1px solid var(--mantine-color-dark-6);
  overflow: hidden;
  z-index: 1;

  :global {
    .mantine-TextInput-wrapper {
      background-color: transparent;
    }

    .mantine-TextInput-input {
      height: 20px;
      min-height: 20px;
      background-color: transparent;
      border: none !important;
      color: var(--mantine-color-gray-3);
      font-size: var(--mantine-font-size-xs);

      &::placeholder {
        color: var(--mantine-color-gray-6);
        font-weight: bold;
      }

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.textButton {
  user-select: none;
  flex-shrink: 0;

  &:hover {
    cursor: pointer;
    color: $slate-300 !important;
  }

  &:active {
    color: $slate-500 !important;
  }
}

.highlightRow {
  &:hover {
    input {
      opacity: 1;
    }

    background-color: $slate-950;

    .filterActions {
      display: flex;
    }
  }
}

.highlightButton {
  border-radius: 3px;

  &:hover {
    background-color: $slate-800;
    color: $slate-200;
  }

  &:active {
    background-color: $slate-700;
    color: $slate-100;
  }
}

.filterCheckbox {
  @extend .highlightRow;

  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20px;
  padding: 2px 6px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  position: relative;

  input {
    opacity: 0.8;
  }

  .filterActions {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1;
    backdrop-filter: blur(4px);
    border-radius: 4px;
    align-items: center;
    padding: 0 8px;
    gap: 4px;
    background-color: $slate-950;

    .textButton {
      padding: 2px 6px;

      @extend .highlightButton;
    }
  }
}

.searchPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
