.sourceSchemaPreviewButton {
  pointer-events: all;
  font-size: var(--mantine-font-size-xxs);
  color: var(--color-text-success);
  padding-inline: var(--mantine-spacing-xxxs);
  border-radius: var(--mantine-radius-xs);

  &:hover {
    color: var(--color-text-success-hover);
    cursor: pointer;
  }
}
