.timelineRow {
  cursor: pointer;

  &:hover {
    background-color: #aaaaff07;
  }
}

.labelContainer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 8px;
  position: relative;
}
