/* stylelint-disable */
/**
  Colors
*/

$text-muted: #dadada;
$text-purple: #9357ff; // This isn't a bootstrap variable
$text-light: #f8f8f2;
$green: #50fa7b;
$red: #ff5d5b;
$blue: #3788f6;
$purple: #8f57f3;
$gray-100: #f8f9fa;
$bg-dark-grey: #1f2429;
$bg-muted: #21272e;
$bg-purple: #2e273b;
$bg-purple-active: #4a4eb5;
$code-color: #4bb74a;
$info: $purple;

/**
  Spacing
*/
$spacer: 1rem;
$spacers: (
  0: 0,
  0\.5: $spacer * 0.125,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  2\.5: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  4\.5: $spacer * 2,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 8,
  10: $spacer * 10,
  14: $spacer * 14,
  16: $spacer * 16,
);
$navbar-dark-active-color: $green;
$navbar-dark-color: rgba(#fff, 0.75);
$navbar-dark-hover-color: rgba(#fff, 1);
$dropdown-dark-bg: $bg-muted;
$popover-bg: $bg-purple;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  5\.5: $font-size-base * 1.125,
  6: $h6-font-size,
  7: $font-size-base * 0.875,
  7\.5: $font-size-base * 0.8125,
  8: $font-size-base * 0.75,
  8\.5: $font-size-base * 0.625,
  9: $font-size-base * 0.5,
) !default;

// scss-docs-end font-sizes

$input-bg: #ffffff1a;
$input-border-width: 0;
$input-group-addon-bg: $input-bg;
$accordion-button-bg: $bg-purple;
$accordion-button-active-bg: $bg-purple-active;
$accordion-bg: var(--color-bg-body);
$accordion-border-radius: 5px;
