@font-face {
font-display: swap;
font-family: "IBM Plex Mono";
font-style: normal;
font-weight: 300;
src: url("./../fonts/ibm-plex-mono-v19-latin-300.woff2") format("woff2");
}

@font-face {
font-display: swap;
font-family: "IBM Plex Mono";
font-style: normal;
font-weight: 400;
src: url("./../fonts/ibm-plex-mono-v19-latin-regular.woff2") format("woff2");
}

@font-face {
font-display: swap;
font-family: "IBM Plex Mono";
font-style: normal;
font-weight: 500;
src: url("./../fonts/ibm-plex-mono-v19-latin-500.woff2") format("woff2");
}

@font-face {
font-display: swap;
font-family: "IBM Plex Mono";
font-style: normal;
font-weight: 600;
src: url("./../fonts/ibm-plex-mono-v19-latin-600.woff2") format("woff2");
}

@font-face {
font-display: swap;
font-family: "IBM Plex Mono";
font-style: normal;
font-weight: 700;
src: url("./../fonts/ibm-plex-mono-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./../fonts/roboto-v47-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./../fonts/roboto-v47-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./../fonts/roboto-v47-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/roboto-v47-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('./../fonts/inter-v18-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./../fonts/inter-v18-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: url('./../fonts/roboto-mono-v23-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./../fonts/roboto-mono-v23-latin-700.woff2') format('woff2');
}
