receivers:
  hostmetrics:
    collection_interval: 5s
    scrapers:
      cpu:
      load:
      memory:
      disk:
      filesystem:
      network:
# override the default processors
# processors:
#   batch:
#     send_batch_size: 10000
#     timeout: 10s
#   memory_limiter:
#     limit_mib: 2000
exporters:
  # fork data to otel-collector-json service (DEV ONLY)
  otlphttp/json:
    endpoint: http://otel-collector-json:4318
    headers:
      authorization: "super-secure-ingestion-api-key"
    compression: gzip
service:
  pipelines:
    metrics/hostmetrics:
      exporters:
        - clickhouse
      processors:
        - memory_limiter
        - batch
      receivers:
        - hostmetrics
    traces/json:
      exporters:
        - otlphttp/json
      processors:
        - memory_limiter
        - batch
      receivers:
        - otlp/hyperdx
    # Metrics hasn't used JSON attributes yet
    # metrics/json:
    #   exporters:
    #     - otlphttp/json
    #   processors:
    #     - memory_limiter
    #     - batch
    #   receivers:
    #     - otlp/hyperdx
    logs/json:
      exporters:
        - otlphttp/json
      processors:
        - memory_limiter
        - batch
      receivers:
        - otlp/hyperdx
