# https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/cmd/opampsupervisor/specification/README.md#supervisor-configuration
server:
  endpoint: {{ getenv "OPAMP_SERVER_URL" }}/v1/opamp
  tls:
    # Disable verification to test locally.
    # Don't do this in production.
    insecure_skip_verify: true
    # For more TLS settings see config/configtls.ClientConfig

capabilities:
  reports_effective_config: true
  reports_own_metrics: true
  reports_own_logs: true
  reports_own_traces: true
  reports_health: true
  accepts_remote_config: true
  reports_remote_config: true

agent:
  executable: /otelcontribcol
  config_files:
    - /etc/otelcol-contrib/config.yaml
{{- if getenv "CUSTOM_OTELCOL_CONFIG_FILE" }}
    - {{ getenv "CUSTOM_OTELCOL_CONFIG_FILE" }}
{{- end }}
  args:
{{- if getenv "OTEL_AGENT_FEATURE_GATE_ARG" }}
    - {{ getenv "OTEL_AGENT_FEATURE_GATE_ARG" }}
{{- end }}

storage:
  directory: /etc/otel/supervisor-data/
