name: Push Downstream
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  push-downstream:
    timeout-minutes: 5
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.DOWNSTREAM_TOKEN }}
          script: |-
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: '${{ secrets.DOWNSTREAM_OWNER }}',
              repo: '${{ secrets.DOWNSTREAM_REPO }}',
              workflow_id: '${{ secrets.DOWNSTREAM_WORKFLOW_ID }}',
              ref: 'main',
              inputs: {
                sha: '${{ github.sha }}',
                actor: '${{ github.actor }}',
                message: '${{ github.event.head_commit.message }}'
              }
            })
